/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*!
 * fullPage 2.7.4
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
.fp-enabled body,html.fp-enabled{margin:0;padding:0;overflow:hidden;-webkit-tap-highlight-color:transparent}#superContainer{height:100%;position:relative;-ms-touch-action:none;touch-action:none}.fp-section{position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.fp-slide{float:left}.fp-slide,.fp-slidesContainer{height:100%;display:block}.fp-slides{z-index:1;height:100%;overflow:hidden;position:relative;-webkit-transition:all .3s ease-out;transition:all .3s ease-out}.fp-section.fp-table,.fp-slide.fp-table{display:table;table-layout:fixed;width:100%}.fp-tableCell{display:table-cell;vertical-align:middle;width:100%;height:100%}.fp-slidesContainer{float:left;position:relative}.fp-controlArrow{position:absolute;z-index:4;top:50%;cursor:pointer;width:0;height:0;border-style:solid;margin-top:-38px;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fp-controlArrow.fp-prev{left:15px;width:0;border-width:38.5px 34px 38.5px 0;border-color:transparent #fff transparent transparent}.fp-controlArrow.fp-next{right:15px;border-width:38.5px 0 38.5px 34px;border-color:transparent transparent transparent #fff}.fp-scrollable{overflow:scroll}.fp-notransition{-webkit-transition:none!important;transition:none!important}#fp-nav{position:fixed;z-index:100;margin-top:-32px;top:50%;opacity:1;-webkit-transform:translate3d(0,0,0)}#fp-nav.right{right:17px}#fp-nav.left{left:17px}.fp-slidesNav{position:absolute;z-index:4;left:50%;opacity:1}.fp-slidesNav.bottom{bottom:17px}.fp-slidesNav.top{top:17px}#fp-nav ul,.fp-slidesNav ul{margin:0;padding:0}#fp-nav ul li,.fp-slidesNav ul li{display:block;width:14px;height:13px;margin:7px;position:relative}.fp-slidesNav ul li{display:inline-block}#fp-nav ul li a,.fp-slidesNav ul li a{display:block;position:relative;z-index:1;width:100%;height:100%;cursor:pointer;text-decoration:none}#fp-nav ul li a.active span,#fp-nav ul li:hover a.active span,.fp-slidesNav ul li a.active span,.fp-slidesNav ul li:hover a.active span{height:12px;width:12px;margin:-6px 0 0 -6px;border-radius:100%}#fp-nav ul li a span,.fp-slidesNav ul li a span{border-radius:50%;position:absolute;z-index:1;height:4px;width:4px;border:0;background:#333;left:50%;top:50%;margin:-2px 0 0 -2px;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out}#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span{width:10px;height:10px;margin:-5px 0 0 -5px}#fp-nav ul li .fp-tooltip{position:absolute;top:-2px;color:#fff;font-size:14px;font-family:arial,helvetica,sans-serif;white-space:nowrap;max-width:220px;overflow:hidden;display:block;opacity:0;width:0}#fp-nav ul li:hover .fp-tooltip,#fp-nav.fp-show-active a.active+.fp-tooltip{-webkit-transition:opacity .2s ease-in;transition:opacity .2s ease-in;width:auto;opacity:1}#fp-nav ul li .fp-tooltip.right{right:20px}#fp-nav ul li .fp-tooltip.left{left:20px}.fp-auto-height .fp-slide,.fp-auto-height .fp-tableCell,.fp-auto-height.fp-section{height:auto!important}@media print{.fp-enabled body,html.fp-enabled{overflow:visible!important;height:auto!important}body,html{background:#fff;width:auto;height:auto;overflow:visible}body{font-size:20pt;border:0;margin:0 5%;padding:0;float:none!important}#fp-nav,.fp-controlArrow,.fp-slidesNav{display:none!important}h1{font-size:28pt!important}h2{font-size:24pt!important}h3,h4{font-size:22pt!important}h4{font-variant:small-caps}h5{font-size:21pt!important}h6{font-size:20pt!important;font-style:italic}.fp-scrollable,.fp-section,.fp-tableCell,.slimScrollDiv{width:100%!important;height:auto!important;display:block!important;position:relative;float:none!important}.fp-slide,.fullpage-wrapper{float:none!important;position:static!important}.fp-slidesContainer{-webkit-transform:none!important;-ms-transform:none!important;transform:none!important;-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;transition:none!important}.fp-slides,.fp-slidesContainer{height:auto!important;width:100%!important;float:none!important;overflow:hidden!important}.fp-slides{height:800px!important;width:800px!important}.fp-slide{width:100%!important}.fullpage-wrapper{-webkit-transform:none!important;-ms-transform:none!important;transform:none!important;-webkit-transition:none!important;-moz-transition:none!important;-ms-transition:none!important;transition:none!important;width:auto!important;height:auto!important;left:0!important;top:0!important;margin-left:0!important;margin-top:0!important;padding:0!important;zoom:1!important;overflow:visible!important;display:block!important;text-align:left!important}.fp-section,.fp-slide{page-break-after:always!important}}

.tooltipster-fall,.tooltipster-grow-show{-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-default{border-radius:5px;border:2px solid #000;background:#4c4c4c;color:#fff}.tooltipster-default .tooltipster-content{font-family:Arial,sans-serif;font-size:14px;line-height:16px;padding:8px 10px;overflow:hidden}.tooltipster-icon{cursor:help;margin-left:4px}.tooltipster-base{padding:0;font-size:0;line-height:0;position:absolute;left:0;top:0;z-index:9999999;pointer-events:none;width:auto;overflow:visible}.tooltipster-base .tooltipster-content{overflow:hidden}.tooltipster-arrow{display:block;text-align:center;width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1}.tooltipster-arrow span,.tooltipster-arrow-border{display:block;width:0;height:0;position:absolute}.tooltipster-arrow-top span,.tooltipster-arrow-top-left span,.tooltipster-arrow-top-right span{border-left:8px solid transparent!important;border-right:8px solid transparent!important;border-top:8px solid;bottom:-7px}.tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-top-left .tooltipster-arrow-border,.tooltipster-arrow-top-right .tooltipster-arrow-border{border-left:9px solid transparent!important;border-right:9px solid transparent!important;border-top:9px solid;bottom:-7px}.tooltipster-arrow-bottom span,.tooltipster-arrow-bottom-left span,.tooltipster-arrow-bottom-right span{border-left:8px solid transparent!important;border-right:8px solid transparent!important;border-bottom:8px solid;top:-7px}.tooltipster-arrow-bottom .tooltipster-arrow-border,.tooltipster-arrow-bottom-left .tooltipster-arrow-border,.tooltipster-arrow-bottom-right .tooltipster-arrow-border{border-left:9px solid transparent!important;border-right:9px solid transparent!important;border-bottom:9px solid;top:-7px}.tooltipster-arrow-bottom .tooltipster-arrow-border,.tooltipster-arrow-bottom span,.tooltipster-arrow-top .tooltipster-arrow-border,.tooltipster-arrow-top span{left:0;right:0;margin:0 auto}.tooltipster-arrow-bottom-left span,.tooltipster-arrow-top-left span{left:6px}.tooltipster-arrow-bottom-left .tooltipster-arrow-border,.tooltipster-arrow-top-left .tooltipster-arrow-border{left:5px}.tooltipster-arrow-bottom-right span,.tooltipster-arrow-top-right span{right:6px}.tooltipster-arrow-bottom-right .tooltipster-arrow-border,.tooltipster-arrow-top-right .tooltipster-arrow-border{right:5px}.tooltipster-arrow-left .tooltipster-arrow-border,.tooltipster-arrow-left span{border-top:8px solid transparent!important;border-bottom:8px solid transparent!important;border-left:8px solid;top:50%;margin-top:-7px;right:-7px}.tooltipster-arrow-left .tooltipster-arrow-border{border-top:9px solid transparent!important;border-bottom:9px solid transparent!important;border-left:9px solid;margin-top:-8px}.tooltipster-arrow-right .tooltipster-arrow-border,.tooltipster-arrow-right span{border-top:8px solid transparent!important;border-bottom:8px solid transparent!important;border-right:8px solid;top:50%;margin-top:-7px;left:-7px}.tooltipster-arrow-right .tooltipster-arrow-border{border-top:9px solid transparent!important;border-bottom:9px solid transparent!important;border-right:9px solid;margin-top:-8px}.tooltipster-fade{opacity:0;-webkit-transition-property:opacity;-moz-transition-property:opacity;-o-transition-property:opacity;-ms-transition-property:opacity;transition-property:opacity}.tooltipster-fade-show{opacity:1}.tooltipster-grow{-webkit-transform:scale(0,0);-moz-transform:scale(0,0);-o-transform:scale(0,0);-ms-transform:scale(0,0);transform:scale(0,0);-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-backface-visibility:hidden}.tooltipster-grow-show{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);-o-transform:scale(1,1);-ms-transform:scale(1,1);transform:scale(1,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-swing{opacity:0;-webkit-transform:rotateZ(4deg);-moz-transform:rotateZ(4deg);-o-transform:rotateZ(4deg);-ms-transform:rotateZ(4deg);transform:rotateZ(4deg);-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform}.tooltipster-swing-show{opacity:1;-webkit-transform:rotateZ(0);-moz-transform:rotateZ(0);-o-transform:rotateZ(0);-ms-transform:rotateZ(0);transform:rotateZ(0);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,1);-webkit-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-moz-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-ms-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);-o-transition-timing-function:cubic-bezier(.23,.635,.495,2.4);transition-timing-function:cubic-bezier(.23,.635,.495,2.4)}.tooltipster-fall{top:0;-webkit-transition-property:top;-moz-transition-property:top;-o-transition-property:top;-ms-transition-property:top;transition-property:top;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-fall.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;top:0!important;opacity:0}.tooltipster-slide{left:-40px;-webkit-transition-property:left;-moz-transition-property:left;-o-transition-property:left;-ms-transition-property:left;transition-property:left;-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1);-webkit-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-moz-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-ms-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);-o-transition-timing-function:cubic-bezier(.175,.885,.32,1.15);transition-timing-function:cubic-bezier(.175,.885,.32,1.15)}.tooltipster-slide.tooltipster-dying{-webkit-transition-property:all;-moz-transition-property:all;-o-transition-property:all;-ms-transition-property:all;transition-property:all;left:0!important;opacity:0}.tooltipster-content-changing{opacity:.5;-webkit-transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1);-ms-transform:scale(1.1,1.1);transform:scale(1.1,1.1)}

body{
	font-family: arial,helvetica;
	color: #323232;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
	font-weight: normal;
}
p{
	font-size: 2em;
}
.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active,
#menu li.active:hover{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}
.hidden {
	opacity: 0;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
.single-bond.vertical {
	width: 4px;
	background-color: #000;
}
.single-bond.horizontal {
	height: 4px;
	background-color: #000;
}
.double-bond.vertical {
	width: 4px;
	background-color: #000;
}
.double-bond.horizontal {
	height: 4px;
	background-color: #000;
}
.circle.hplus {
	height: 30px;
	width: 30px;
	border-radius: 10000px;
	background-color: rgb(0,0,255);
	color: #000;
	border: 5px solid black;
}
.circle.hplus:after {
	content: "H+";
	font-size: 20px;
	display: inline-block;
	margin-top: 5px;
}
.circle.electron {
	height: 30px;
	width: 30px;
	border-radius: 10000px;
	background-color: rgba(0,0,0,0);
	color: #000;
	border: 5px solid black;
}
.circle.electron:after {
	content: "e-";
	font-size: 20px;
	display: inline-block;
	margin-top: 5px;
}
.circle.carbon {
	height: 60px;
	width: 60px;
	border-radius: 1000px;
	background-color: #000;
	color: #fff;
	vertical-align: middle;
}
.circle.carbon:after {
	content: "C";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.oxygen {
	height: 60px;
	width: 60px;
	border-radius: 1000px;
	background-color: #f00;
	color: #fff;
	vertical-align: middle;
}
.circle.oxygen:after {
	content: "O";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.oxygen2 {
	height: 60px;
	width: 60px;
	border-radius: 1000px;
	background-color: #f00;
	color: #fff;
	vertical-align: middle;
}
.circle.oxygen2:after {
	content: "2";
	font-size: 10px;
	display: inline-block;
	vertical-align: bottom;
	margin-top: 20px;
	margin-top: 10px;
}
.circle.oxygen2:before {
	content: "O";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.phosphate {
	height: 60px;
	width: 60px;
	border-radius: 1000px;
	background-color: #ff0;
	color: #000;
	vertical-align: middle;
}
.circle.phosphate:after {
	content: "P";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.NADPlus {
	height: 60px;
	width: 120px;
	border-radius: 1000px;
	background-color: #ff8000;
	color: #fff;
	vertical-align: middle;
}
.circle.NADPlus:before {
	content: "NAD";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.NADPlus:after {
	content: "+";
	font-size: 20px;
	vertical-align: top;
	display: inline-block;
	margin-top: 10px;
}
.circle.FAD {
	height: 60px;
	width: 140px;
	border-radius: 1000px;
	background-color: #ff8000;
	color: #fff;
	vertical-align: middle;
}
.circle.FAD:before {
	content: "FAD";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.FADH2 {
	height: 60px;
	width: 140px;
	display: inline-block;
	border-radius: 1000px;
	background-color: #ff0;
	color: #f00;
	vertical-align: middle;
}
.circle.FADH2:before {
	content: "FADH";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.FADH2:after {
	content: "2";
	font-size: 20px;
	vertical-align: bottom;
	display: inline-block;
	margin-top: 10px;
}
.circle.ch3 {
	height: 60px;
	width: 120px;
	border-radius: 1000px;
	background-color: #191919;
	color: #fff;
	vertical-align: middle;
}
.circle.ch3:before {
	content: "CH";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.ch3:after {
	content: "3";
	font-size: 20px;
	vertical-align: bottom;
	display: inline-block;
	margin-top: 10px;
}
.circle.NADH {
	height: 60px;
	width: 120px;
	display: inline-block;
	border-radius: 1000px;
	background-color: #ff0;
	color: #f00;
	vertical-align: middle;
}
.circle.NADH:before {
	content: "NADH";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.circle.ATP {
	height: 60px;
	width: 100px;
	border-radius: 1000px;
	background-color: #ff0;
	color: #000;
	vertical-align: middle;
}
.circle.ATP:after {
	content: "ATP";
	font-size: 30px;
	display: inline-block;
	margin-top: 15px;
}
.circle.ADP {
	height: 60px;
	width: 100px;
	border-radius: 1000px;
	background-color: #f00;
	color: #fff;
	vertical-align: middle;
}
.circle.ADP:after {
	content: "ADP";
	font-size: 30px;
	display: inline-block;
	margin-top: 15px;
}
.circle.CoA {
	height: 60px;
	width: 100px;
	border-radius: 1000px;
	background-color: #ff3333;
	color: #fff;
	vertical-align: middle;
}
.circle.CoA:after {
	content: "CoA";
	font-size: 40px;
	display: inline-block;
	margin-top: 10px;
}
.glycolysis table {
	float: left;
	width: 30%;
	text-align: center;
	padding: 1.5%;
	border-spacing: 15px;
	border-collapse: initial;
}
.glycolysis thead tr th {
	font-size: 3em;
	text-align: center
}
.glycolysis tbody tr td {
	font-size: 1.5em;
	text-align: center
}
.glycolysis .animation {
	float: left;
	width: 60%;
	padding: 3%;
	text-align: center;
}
.floating {
	position: fixed;
}
.glycolysis .animation .ATP1-placeholder, .glycolysis .animation .ATP2-placeholder {
	display: inline-block;
	width: 100px;
    height: 1px;
    float: left;
}
.glycolysis .animation .circle, .glycolysis .animation .pyruvate, .glycolysis .animation .ATP-placeholder {
	display: inline-block;
	float: left;
}
.intermediatestep .animation {
	width: 75%;
	height: 10em;
	margin-left: 12.5%;
	margin-top: 2em;
	border-radius: 1em;
}
.intermediatestep .animation .cytosol {
	width: 34%;
	height: 30em;
	float: left;
	background-color: rgba(189, 183, 107, 0.8);
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	display: inline-block;
}
.intermediatestep .animation .mitochondrion {
	background-color: rgba(139, 69, 19, 0.5);
	width: 100%;
}
.intermediatestep .animation .mitochondrion h2, .intermediatestep .animation .cytosol h2 {
	padding-top: 1em;
	font-size: 2em;
}
.intermediatestep .animation .mitochondrion, .intermediatestep .animation .mitochondrion-wrapper {
	height: 30em !important;
	border-radius: 5em 1em 1em 5em;
	float: left;
	display: inline-block;
}
.intermediatestep .animation .mitochondrion-wrapper {
	width: 66%;
	background-color: rgba(189, 183, 107, 0.8);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}
